package views

import "github.com/sgaunet/s3xplorer/pkg/config"

// RenderError renders a standalone error page.
templ RenderError(errMsg string) {
	@Layout(PageOpts{
		Title:     "Error - s3xplorer",
		Container: ContainerNarrow,
	}, config.Config{}) {
		<div class="box">
			<h1 class="title is-4 is-flex is-align-items-center is-gap-2">
				@Icon("alert-triangle", "is-medium has-text-danger")
				<span>Error</span>
			</h1>
			<div class="notification is-danger is-light">
				{ errMsg }
			</div>
			<a class="button is-link" href="/">
				@Icon("home", "is-small")
				<span class="ml-2">Return to Home</span>
			</a>
		</div>
	}
}
